---
import FormattedDate from './FormattedDate.astro';
import AlsoOn from './AlsoOn.astro';

const {
  pubDate,
  updatedDate,
  permalink,
  alsoOn,
  location,
  tags = [],
  tagCounts = {},
  filterTag,
  hr = false,
} = Astro.props;

const displayTags = (tags as string[]).filter((t: string) => t !== filterTag);
const tc = tagCounts as Record<string, number>;
---

<div class="note-meta">
  {pubDate && <FormattedDate date={new Date(pubDate)} />}
  {updatedDate && <div class="last-updated-on">Last updated on <FormattedDate date={updatedDate} /></div>}
  {permalink && <> <a href={permalink}>#</a></>}
</div>

<style>
  .note-meta {
    margin-bottom: 0.5em;
    color: rgb(var(--gray));
    text-align: center;
  }
  .last-updated-on {
    font-style: italic;
  }
</style>
{hr && <hr />}
<AlsoOn links={alsoOn} />
<slot />
{location && (
  <p>Location of this post on
    <a href={`https://www.google.com/maps/@${location[0]},${location[1]},17z`} target="_blank">
      Google Maps
      <svg width="12px" height="12px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" fill="none" aria-hidden="true">
        <path stroke="#535358" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M22 3h7v7M27.5 4.5L20 12M17 5H8a3 3 0 00-3 3v16a3 3 0 003 3h16a3 3 0 003-3v-9"/>
      </svg>
      <span class="sr-only"> opens a new window</span>
    </a>
  </p>
)}
{displayTags.length > 0 && (
  <div class="tags">
    {displayTags.map((t: string) => (
      <a href={`/tags/${t}`}>{t}{tc[t] ? ` (${tc[t]})` : ''}</a>
    ))}
  </div>
)}
